.App {
    text-align: center;
  
    h1 {
        margin: 20px 0 0;
    }
  }
  
  .App-characters {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
  }
  